{{ form_start(form, {attr: {class: 'filter'}}) }}
    <div>
        <h4>Terrain :</h4>
        {{ form_row(form.terrain) }} <!--correspond à SearchForm.php-->
    </div>
    <div>
        <h4>Marque :</h4>
        {{ form_row(form.marque) }}
    </div>
    {# <h4>Couleur :</h4>
    {{ form_row(form.couleurs) }}
    <h4>Prix :</h4>
    <div style="display:flex;">
        <div style="width:50%;">
            {{ form_row(form.min) }}
        </div>
        <div style="width:50%;">
            {{ form_row(form.max) }}
        </div>        
    </div> #}


    <button type="submit">Filtrer</button>
{{ form_end(form) }}