<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>FootyCleats</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <!--pour avoir les icônes de font awesome (les étoiles)-->
    {# <script src="https://kit.fontawesome.com/2143efebef.js" crossorigin="anonymous"></script> #}
</head>

<body>
    <nav>
        <ul>
            <li><a href="{{ path('app_cleat_index') }}">Accueil</a></li> <!--ou home-->
            {# <a>Panier</a> #}
            <li class="item_compte">Compte
                <ul class="sous_menu">
                    {% if is_granted('ROLE_USER') %}
                    <li>
                        <p class="sous_menu_texte">Welcome {{ app.user.pseudo }} !</p>
                    </li>
                    <li>
                        <a href="{{ path('compte') }}"><p>Mon compte</p></a>
                    </li>
                    {% else %}
                    <li>
                        <p class="sous_menu_texte">Connectez-vous pour ajouter des items dans votre panier !</p>
                    </li>
                    {% endif %}
                    {% if app.user %}
                    <li class="sous_menu_btn"><a href="{{ path('app_logout') }}"><button>Se déconnecter</button></a></li>
                    {% else %}
                    <li class="sous_menu_btn"><a href="{{ path('app_login') }}"><button>Se connecter</button></a></li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </nav>
    <div class="header_page">
        {% block title %}
        {% endblock %}
    </div>
    <div class="main">
        {% block body %}
            {% block btn_page %}
            {% endblock %}
        {% endblock %}
    </div>
    <footer>
        <p>Made by <a href="instagram.com/wizardcybob">@wizardcybob</a></p>
    </footer>

    <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
</body>

</html>